version: '3.8'
services:
  consul:
    image: hashicorp/consul:1.16.2
    container_name: consul
    ports:
      - "8500:8500"
    command: "consul agent -dev -ui -client=0.0.0.0"
    networks:
      - shared-net

  gateway-service:
    build: .
    container_name: gateway-service
    ports:
      - "1000:1000"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_CLOUD_CONSUL_PORT: 8500
    depends_on:
      - consul
    env_file:
      - .env
    networks:
      - shared-net

networks:
  shared-net:
    external: true