server:
  port: 1000
  forward-headers-strategy: framework
  error:
    include-message: always
    include-binding-errors: always

oauth:
    google:
      client-id: ${GOOGLE_CLIENT_ID}
      client-secret: ${GOOGLE_CLIENT_SECRET}
      scope: "openid, profile, email"
      redirect-uri: "https://34.118.68.15.nip.io/api/login/oauth2/code/google"

spring:
  application.name: gateway-service

  cloud:
    gateway:
      forwarded-headers-strategy: framework

      routes:
        - id: posts-service-route
#           uri: lb://posts-service
          uri: http://${POSTS_SERVICE_HOST:posts-service}:${POSTS_SERVICE_PORT:8081}
          predicates:
            - Path=/api/post/**
          filters:
            - RewritePath=/api/post/(?<remaining>.*), /api/post/${remaining}
        - id: users-service-route
          uri: http://${POSTS_SERVICE_HOST:posts-service}:${POSTS_SERVICE_PORT:8081}
          predicates:
            - Path=/api/user/**
#           uri: lb://posts-service

#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: ${GOOGLE_CLIENT_ID}
#            client-secret: ${GOOGLE_CLIENT_SECRET}
#            scope: openid, profile, email
##            redirect_uri: https://34.118.68.15.nip.io/api/login/oauth2/code/google
#            client-name: Google
#            client-authentication-method: client_secret_basic
#            authorization-grant-type: authorization_code
#        provider:
#          google:
#            issuer-uri: https://accounts.google.com
#      resourceserver:
#        jwt:
#          issuer-uri: https://accounts.google.com

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /
      exposure:
        include: "*"

logging:
  level:
    org.springframework.security.oauth2: TRACE
    org.springframework.web.server.adapter.ForwardedHeaderTransformer: DEBUG
