server:
  port: 1000
  error:
    include-message: always
    include-binding-errors: always

spring:
  application.name: gateway-service
  cloud:
    gateway:
#      forwarded-headers-strategy: framework
      routes:
        - id: posts-service-post-route
#          uri: http://${POSTS_SERVICE_HOST:posts-service}:${POSTS_SERVICE_PORT:8080}
          uri: http://posts-service:8080
          predicates:
            - Path=/api/post/**
        - id: posts-service-user-route
#          uri: http://${POSTS_SERVICE_HOST:posts-service}:${POSTS_SERVICE_PORT:8080}
          uri: http://posts-service:8080
          predicates:
            - Path=/api/user/**

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid, profile, email
            redirect-uri: "http://34.118.111.172/login/oauth2/code/google"
            client-name: Google
            authorization-grant-type: authorization_code
        provider:
          google:
            issuer-uri: https://accounts.google.com

#      resourceserver:
#        jwt:
#          issuer-uri: https://accounts.google.com

management:
  endpoint:
    health:
      show-details: always

  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.security.oauth2: TRACE
    org.springframework.web.server.adapter.ForwardedHeaderTransformer: DEBUG
